.group-3,
.group-3 * {
  box-sizing: border-box;
}
.group-3 {
  height: 954px;
  position: relative;
}
.image-2 {
  width: 1920px;
  height: 954px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1920/954;
}
.alarm-big-box-1 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 489.4px;
  height: 794px;
  position: absolute;
  left: 23px;
  top: 36px;
}
.alarm-1 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 51px;
}
.alarm-2 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 86px;
}
.alarm-3 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 121px;
}
.alarm-4 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 156px;
}
.alarm-5 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 191px;
}
.alarm-6 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 226px;
}
.alarm-7 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 261px;
}
.alarm-8 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 296px;
}
.alarm-9 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 331px;
}
.alarm-10 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 366px;
}
.alarm-11 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 401px;
}
.alarm-12 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 436px;
}
.alarm-13 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 471px;
}
.alarm-14 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 506px;
}
.alarm-15 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 541px;
}
.alarm-16 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 576px;
}
.alarm-17 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 611px;
}
.alarm-18 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 646px;
}
.alarm-19 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 681px;
}
.alarm-20 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 716px;
}
.alarm-21 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 751px;
}
.alarm-22 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 33px;
  top: 786px;
}
.alarm-23 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 51px;
}
.alarm-24 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 86px;
}
.alarm-25 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 121px;
}
.alarm-26 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 156px;
}
.alarm-27 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 191px;
}
.alarm-28 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 226px;
}
.alarm-29 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 261px;
}
.alarm-30 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 296px;
}
.alarm-31 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 331px;
}
.alarm-32 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 366px;
}
.alarm-33 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 401px;
}
.alarm-34 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 436px;
}
.alarm-35 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 471px;
}
.alarm-36 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 506px;
}
.alarm-37 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 541px;
}
.alarm-38 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 576px;
}
.alarm-39 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 611px;
}
.alarm-40 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 646px;
}
.alarm-41 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 681px;
}
.alarm-42 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 716px;
}
.alarm-43 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 751px;
}
.alarm-44 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 193px;
  top: 786px;
}
.alarm-45 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 51px;
}
.alarm-46 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 86px;
}
.alarm-47 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 121px;
}
.alarm-48 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 156px;
}
.alarm-49 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 191px;
}
.alarm-50 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 226px;
}
.alarm-51 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 261px;
}
.alarm-52 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 296px;
}
.alarm-53 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 351px;
  top: 331px;
}
.alarm-big-box-12 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 488px;
  height: 794px;
  position: absolute;
  left: 514.52px;
  top: 36px;
}
.alarm-54 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 51px;
}
.alarm-55 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 86px;
}
.alarm-56 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 121px;
}
.alarm-57 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 156px;
}
.alarm-58 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 191px;
}
.alarm-59 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 226px;
}
.alarm-60 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 261px;
}
.alarm-61 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 296px;
}
.alarm-62 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 331px;
}
.alarm-63 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 366px;
}
.alarm-64 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 401px;
}
.alarm-65 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 436px;
}
.alarm-66 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 471px;
}
.alarm-67 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 506px;
}
.alarm-68 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 541px;
}
.alarm-69 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 576px;
}
.alarm-70 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 611px;
}
.alarm-71 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 646px;
}
.alarm-72 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 681px;
}
.alarm-73 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 716px;
}
.alarm-74 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 751px;
}
.alarm-75 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 523px;
  top: 786px;
}
.alarm-76 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 51px;
}
.alarm-77 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 86px;
}
.alarm-78 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 121px;
}
.alarm-79 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 156px;
}
.alarm-80 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 191px;
}
.alarm-81 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 226px;
}
.alarm-82 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 261px;
}
.alarm-83 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 296px;
}
.alarm-84 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 331px;
}
.alarm-85 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 366px;
}
.alarm-86 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 401px;
}
.alarm-87 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 436px;
}
.alarm-88 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 471px;
}
.alarm-89 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 506px;
}
.alarm-90 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 541px;
}
.alarm-91 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 576px;
}
.alarm-92 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 611px;
}
.alarm-93 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 646px;
}
.alarm-94 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 681px;
}
.alarm-95 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 716px;
}
.alarm-96 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 751px;
}
.alarm-97 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 682px;
  top: 786px;
}
.alarm-98 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 51px;
}
.alarm-99 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 86px;
}
.alarm-100 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 121px;
}
.alarm-101 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 156px;
}
.alarm-102 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 191px;
}
.alarm-103 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 226px;
}
.alarm-104 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 261px;
}
.alarm-105 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 296px;
}
.alarm-106 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 841px;
  top: 331px;
}
.alarm-big-box-3 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 328px;
  height: 794px;
  position: absolute;
  left: 1005.07px;
  top: 36px;
}
.alarm-107 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 51px;
}
.alarm-108 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 86px;
}
.alarm-109 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 121px;
}
.alarm-110 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 156px;
}
.alarm-111 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 191px;
}
.alarm-112 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 226px;
}
.alarm-113 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 261px;
}
.alarm-114 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 296px;
}
.alarm-115 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 331px;
}
.alarm-116 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 366px;
}
.alarm-117 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 401px;
}
.alarm-118 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 436px;
}
.alarm-119 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 471px;
}
.alarm-120 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 506px;
}
.alarm-121 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 541px;
}
.alarm-122 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 576px;
}
.alarm-123 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 611px;
}
.alarm-124 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 646px;
}
.alarm-125 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 681px;
}
.alarm-126 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 716px;
}
.alarm-127 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 751px;
}
.alarm-128 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 786px;
}
.alarm-129 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 51px;
}
.alarm-130 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 86px;
}
.alarm-131 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 121px;
}
.alarm-132 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 156px;
}
.alarm-133 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 191px;
}
.alarm-134 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 226px;
}
.alarm-135 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 261px;
}
.alarm-136 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1173px;
  top: 296px;
}
.alarm-big-box-4 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 327px;
  height: 794px;
  position: absolute;
  left: 1335.09px;
  top: 36px;
}
.alarm-137 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 51px;
}
.alarm-138 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 86px;
}
.alarm-139 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 121px;
}
.alarm-140 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 156px;
}
.alarm-141 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 191px;
}
.alarm-142 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 226px;
}
.alarm-143 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 261px;
}
.alarm-144 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 296px;
}
.alarm-145 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 331px;
}
.alarm-146 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 366px;
}
.alarm-147 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 401px;
}
.alarm-148 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 436px;
}
.alarm-149 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 471px;
}
.alarm-150 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 506px;
}
.alarm-151 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 541px;
}
.alarm-152 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 576px;
}
.alarm-153 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 611px;
}
.alarm-154 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 646px;
}
.alarm-155 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 681px;
}
.alarm-156 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 716px;
}
.alarm-157 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 751px;
}
.alarm-158 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1343px;
  top: 786px;
}
.alarm-159 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 51px;
}
.alarm-160 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 86px;
}
.alarm-161 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 121px;
}
.alarm-162 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 156px;
}
.alarm-163 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 191px;
}
.alarm-164 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 226px;
}
.alarm-165 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 261px;
}
.alarm-166 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 1502px;
  top: 296px;
}
.bcf-1 {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 489.4px;
  height: 30px;
  position: absolute;
  left: 23px;
  top: 4px;
}
.bcf-2 {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 488px;
  height: 30px;
  position: absolute;
  left: 514.52px;
  top: 4px;
}
.bcf-3 {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 328px;
  height: 30px;
  position: absolute;
  left: 1005.07px;
  top: 4px;
}
.bcf-4 {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 327px;
  height: 30px;
  position: absolute;
  left: 1335.09px;
  top: 4px;
}
