
.rectangle-2 {
    border : 1px solid black;
  background: #bde295;
  width: 160.62px;
  height: 74.37px;
  position: absolute;
  left: 241.78px;
  top: 0px;
}
.rectangle-12 {
    border : 1px solid black;
  background: #fac090;
  width: 236.81px;
  height: 74.37px;
  position: absolute;
  left: 6px;
  top: 0px;
}
.rectangle-3 {
    border : 1px solid black;
  background: #bde295;
  width: 160.62px;
  height: 74.37px;
  position: absolute;
  left: 402.4px;
  top: 0px;
}
.rectangle-4 {
    border : 1px solid black;
  background: #bde295;
  width: 161.65px;
  height: 74.37px;
  position: absolute;
  left: 563.02px;
  top: 0px;
}
.rectangle-6 {
    border : 1px solid black;
  background: #bde295;
  width: 950.33px;
  height: 35.33px;
  position: absolute;
  left: 724.67px;
  top: 0px;
}
.rectangle-7 {
    border : 1px solid black;
  background: #bde295;
  width: 190.48px;
  height: 39.05px;
  position: absolute;
  left: 724.67px;
  top: 35.33px;
}
.chim-1-heat {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 74.37px;
}
.chim-1-bon {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 915.15px;
  top: 74.37px;
}
.rectangle-35 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1104.6px;
  top: 74.37px;
}
.rectangle-36 {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 1295.07px;
  top: 74.37px;
}
.rectangle-37 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1484.52px;
  top: 74.37px;
}
.chim-2-heat {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 151.54px;
}
.chim-2-bon {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 915.15px;
  top: 151.54px;
}
.rectangle-40 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1104.6px;
  top: 151.54px;
}
.rectangle-41 {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 1295.07px;
  top: 151.54px;
}
.rectangle-42 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1484.52px;
  top: 151.54px;
}
.chim-3-heat {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 228.7px;
}
.chim-3-bon {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 915.15px;
  top: 228.7px;
}
.rectangle-45 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1104.6px;
  top: 228.7px;
}
.rectangle-46 {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 1295.07px;
  top: 228.7px;
}
.rectangle-47 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1484.52px;
  top: 228.7px;
}
.chim-4-heat {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 305.86px;
}
.chim-4-bon {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 915.15px;
  top: 305.86px;
}
.rectangle-50 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1104.6px;
  top: 305.86px;
}
.rectangle-51 {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 1295.07px;
  top: 305.86px;
}
.rectangle-52 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1484.52px;
  top: 305.86px;
}
.chim-5-heat {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 383.02px;
}
.chim-5-bon {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 915.15px;
  top: 383.02px;
}
.rectangle-55 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1104.6px;
  top: 383.02px;
}
.rectangle-56 {
    border : 1px solid black;
  background: #cbeffc;
  width: 189.45px;
  height: 77.16px;
  position: absolute;
  left: 1295.07px;
  top: 383.02px;
}
.rectangle-57 {
    border : 1px solid black;
  background: #cbeffc;
  width: 190.48px;
  height: 77.16px;
  position: absolute;
  left: 1484.52px;
  top: 383.02px;
}
.tem-1-gong {
    border : 1px solid black;
  background: #cbeffc;
  width: 950.33px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 460.19px;
}
.rectangle-8 {
    border : 1px solid black;
  background: #bde295;
  width: 189.45px;
  height: 39.05px;
  position: absolute;
  left: 915.15px;
  top: 35.33px;
}
.rectangle-9 {
    border : 1px solid black;
  background: #bde295;
  width: 190.48px;
  height: 39.05px;
  position: absolute;
  left: 1104.6px;
  top: 35.33px;
}
.rectangle-10 {
    border : 1px solid black;
  background: #bde295;
  width: 189.45px;
  height: 39.05px;
  position: absolute;
  left: 1295.07px;
  top: 35.33px;
}
.rectangle-11 {
    border : 1px solid black;
  background: #bde295;
  width: 190.48px;
  height: 39.05px;
  position: absolute;
  left: 1484.52px;
  top: 35.33px;
}
.rectangle-13 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 74.37px;
}
.rectangle-14 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 151.54px;
}
.rectangle-15 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 228.7px;
}
.rectangle-16 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 305.86px;
}
.rectangle-17 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 383.02px;
}
.rectangle-58 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 460.19px;
}
.chim-1-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 74.37px;
}
.chim-1-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 74.37px;
}
.chim-1-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 74.37px;
}
.chim-2-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 151.54px;
}
.chim-2-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 151.54px;
}
.chim-2-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 151.54px;
}
.chim-3-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 228.7px;
}
.chim-3-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 228.7px;
}
.chim-3-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 228.7px;
}
.chim-4-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 305.86px;
}
.chim-4-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 305.86px;
}
.chim-4-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 305.86px;
}
.chim-5-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 383.02px;
}
.chim-5-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 383.02px;
}
.chim-5-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 383.02px;
}
.tem-1-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 460.19px;
}
.tem-1-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 460.19px;
}
.tem-1-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 460.19px;
}
.tem-2-gong {
    border : 1px solid black;
  background: #cbeffc;
  width: 950.33px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 537.35px;
}
.rectangle-61 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 537.35px;
}
.tem-2-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 537.35px;
}
.tem-2-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 537.35px;
}
.tem-2-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 537.35px;
}
.byun-1-gong {
    border : 1px solid black;
  background: #cbeffc;
  width: 950.33px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 614.51px;
}
.rectangle-63 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 614.51px;
}
.byun-1-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 614.51px;
}
.byun-1-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 614.51px;
}
.byun-1-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 614.51px;
}
.byun-2-gong {
    border : 1px solid black;
  background: #cbeffc;
  width: 950.33px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 691.67px;
}
.rectangle-65 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 691.67px;
}
.byun-2-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 691.67px;
}
.byun-2-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 691.67px;
}
.byun-2-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 691.67px;
}
.clean-gong {
    border : 1px solid black;
  background: #cbeffc;
  width: 950.33px;
  height: 77.16px;
  position: absolute;
  left: 724.67px;
  top: 768.84px;
}
.rectangle-67 {
    border : 1px solid black;
  background: #bde295;
  width: 236.81px;
  height: 77.16px;
  position: absolute;
  left: 6px;
  top: 768.84px;
}
.clean-cutum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 242.81px;
  top: 768.84px;
}
.clean-pum {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 403.43px;
  top: 768.84px;
}
.clean-lot {
    border : 1px solid black;
  background: #e9f5dd;
  width: 160.62px;
  height: 77.16px;
  position: absolute;
  left: 564.05px;
  top: 768.84px;
}
